<div class="game__card">
  <div class="game__image-block">
    <a class="game__link" href="games/{{gameNameInHTML}}/index.html" target="_blank">
      <span class="visually-hidden">Страница игры {{gameName}}</span>
      <img class="game__image" src="images/content/{{gameName}}.jpg" alt="Обложка игры {{gameName}}" width="300" height="auto">
    </a>
  </div>
  <a class="game__description" href="games/{{gameNameInHTML}}/index.html" target="_blank">{{gameName}}</a>
</div>